*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.box {
    width: 100%;
}
.cont {
    background: linear-gradient(#4A99D3 -95.38%, rgba(74, 153, 211, 0) 57.86%), #FFFFFF;
    box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
    /* transform: rotate(-180deg); */
}
.cont2{
    width: 95%;
    margin: auto;
}
.home {
    margin-left: 204px;
    margin-right: 52px;
    padding-bottom: 68px;
}
.header{
    margin-right: 159px;
    align-items: center;
    margin-top: 45px;
}
.nav-btn {
    border: 2px solid #0F001A;
}
.nav-menu {
    width: 50%;
}
.nav-menu a {
    font-weight: 500;
    font-size: 18px;
    color: #0F001A;
}
.nav-bar {
    width: 310px;
    flex: 1;
    width: 100%;
    justify-content: flex-end;
}
@media only screen and  (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 50px;
    }
}
@media only screen and  (max-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 30px;
    }
}
    
/* .nav-menu a:nth-child(1){
    color: #4A99D3;
} */
.home-content {
    width: 636px;
    padding-top: 136px;
}
.home-content span:nth-child(1){
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 0.02em;
    color: #260041;
}
.home-content span:nth-child(2){
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #260041;
    padding-top: 14px;
}
.home-content .home-icons{
    padding-top: 60px;
    padding-bottom: 74px;
}
.home-content .home-icons .home-button {
    height: 60px;
    width: 180px;  
    background: #4A99D3;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    pointer-events: none;
}
.home-img {
    padding-top: 60px;
}

.icon{
    color: #0F001A;
    font-size:30px;
    line-height:80px;
    float:right;
    cursor:pointer;
    display: none;
}


/* what we do */

.card {
    position: relative;
    background: #F5F5F5;
    border: none;
    width: 100%;
}
.card .card-blue {
    position: absolute;
    right: 0px;
    transform: rotate(180deg);
}
.card .card-brown {
    position: absolute;
    bottom: 0px;
}
.card2 {
    width: 95%;
    margin: auto;
}
.card-pack{
    margin: 140px 194px;
    padding: 10px 10px;
}
.card-pack .card-template{
    position: relative;
    height: 525px;
    width: 380px;
    border-radius: 10px;
    margin-left: 52px;
    z-index: 2;
    box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
}
.card-pack .card-template .card-img {
    height: 245px;
    position: relative;
    z-index: 2;
}
.card-pack .card-template .card-img img {
    position: absolute;
    bottom: 56px;
}
.card-pack .card-template .card-img .img1,
.card-pack .card-template .card-img .img3 {
    right: 124px;
}
.card-pack .card-template .card-img .img2 {
    right: 78px;
}
.card-pack .card-template .card-content {
    padding: 0px 48px;
    z-index: 2;
}
.card-pack .card-template .card-content span:nth-child(1){
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #0F001A;
    margin-bottom: 16px;
}
.card-pack .card-template .card-content span:nth-child(2){
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0F001A;
    opacity: 0.6;
    margin-bottom: 52px;
}
.card-pack .card-template .card-content .card-bottom span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #4A99D3;
    padding-right: 27px;
}
.card-pack .card-template-left {
    margin-left: auto;
    margin-right: 52px;
    right: 0;
}
.card-pack span {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #260041;
    margin-bottom: 170px;
}
.card .card-template-left > img,
.card .card-template-right > img,
.card .card-template-right2 > img {
    position: absolute;
    z-index: -1;
}
.card .card-template-left > img {
    top: 216px;
    left: -105px;
}
.card .card-template-right > img {
    top: -77px;
    right: -77px;
}
.card .card-template-right2 > img {
    bottom: -77px;
    right: -77px;
}

/* How it works */

.how-it-works {
    background: rgba(74, 153, 211, 0.1);
    align-items: center;
    padding: 95px 245px;
}
.how-it-works .works {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #4A99D3;
}
.how-it-works .working {
    width: 100%;
    justify-content: space-between;
}
.how-it-works .work-create {
    width: 260px;
    height: 172px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.how-it-works .work-create span:nth-last-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #0F001A;
}
.how-it-works .work-create span:nth-last-child(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0F001A;
}


/* client */

.client {
    position: relative;
    background: #F5F5F5;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 125px;
}
.client .client-header {
    text-align: center;
}
.client .client-header span {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #0F001A;
}
.client .client-example {
    position: relative;
    height: 520px;
    margin-right: 245px;
    margin-bottom: 130px;
}
.client .client-example1 {
    padding-right: 60px;
    width: 50%;
}
.client .client-example1 .client-example-back {
    position: relative;
    width: 684px;
    height: 400px;
    background: rgba(74, 153, 211, 0.1);
    border-radius: 0px 6px 6px 0px;
    margin-top: 118px;
}
.client .client-example1 .client-example-back img {
    position: absolute;
    right: 100px;
    bottom: 0;
}
.client .client-example2 {
    padding-left: 180px;
    padding-top: 200px;
    width: 50%;
}
.client .client-example2 img {
    margin-bottom: 44px;
}
.client .client-example2 span:nth-last-child(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0F001A;
    opacity: 0.5;
    margin-bottom: 40px;
}
.client .client-example2 span:nth-last-child(1) {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #0F001A;
    margin-bottom: 30px;
}
.client-app {
    padding-top: 30px;
}
.client-app .client-app-pic{
    padding-left: 170px;
    width: 50%;
}
.client-app .client-app-pic img {
    width: 100%;
    height: 100%;
}
.client-app .client-app-details {
    padding-left: 35px;
    padding-right: 245px;
    text-align: center;
    width: 50%;
}
.client-app .client-app-details span:nth-child(1) {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #0F001A;
    margin-top: 115px;
    margin-bottom: 5px;
}
.client .client-brown {
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: rotate(180deg);
}
.client .client-blue {
    position: absolute;
    bottom: -48px;
}
.client-app-button {
    margin-top: 60px;
}
.client-app-button img {
    margin-left: 28px;
}
.client .client-example .buttons {
    position: absolute;
    height: 80px;
    width: 160px;
    bottom: -40px;
    right: 0px;
}
.client .client-example .buttons .buttons1 {
    position: relative;
    height: 100%;
    width: 50%;
    background: #4A99D3;
    border-radius: 4px 0px 0px 4px;
}
.client .client-example .buttons .buttons1 span {
    position: absolute;
    height: 28px;
    width: 16px;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./images/left.png);
}
.client .client-example .buttons .buttons2 {
    position: relative;
    height: 100%;
    width: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.client .client-example .buttons .buttons2 span {
    position: absolute;
    height: 28px;
    width: 16px;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./images/right.png);
}

.client .client-example > img {
    position: absolute;
    top: 196px;
    right: -245px;
}
/* footer  */

.footer {
    position: relative;
    padding: 56px 125px 0px 125px;
    width: 100%;
    background: #4A99D3;
    color: #FFFFFF;
}
.footer .footer-row-1 a {
    text-decoration: none;
}
.footer .footer-row-1 h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #FFFFFF;
}
.footer .footer-row-2 a, 
.footer .footer-row-3 a, 
.footer .footer-row-4 a {
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 2px;
    margin-bottom: 30px;
}
.footer .footer-row-2 a::after,
.footer .footer-row-3 a::after,
.footer .footer-row-4 a::after{
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    height: 3px;
    width: 100%;
    bottom: 6px;
}
.footer .footer-row-3 {
    padding: 0px 60px;
}
.footer .footer-row-2 > h6,
.footer .footer-row-3 > h6,
.footer .footer-row-4 > h6 {
    margin-bottom: 12px;
}
.footer .footer-row-5 {
    padding-left: 80px;
    flex: 1;
}
.footer .footer-row-5 .footer-row5-input {
    margin-top: 20px;
}
.footer .footer-row-5 .footer-row5-inputform {
    background-color: #f8f9fa;
}
.footer .footer-row-5 .footer-row5-inputbutton {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #4A99D3;
}
.footer .footer-d2 {
    height: 58px;
    bottom: 0px;
}
.footer .footer-d2 strong {
    font-style: normal;
    font-weight: 600;
    font-size: 10.41px;
    color: #FFFFFF;
}
.footer .footer-d2-icons {
    width: 134px;
}


/* Responsive layout 1180  */

@media only screen and (max-width: 1180px) {
    .dots {
        display: none;
    }
}

/* Responsive layout 1150  */

@media only screen and (max-width: 1150px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .cont2 {
        width: 100%;
    }
    .home {
        width: 90%;
        margin: auto;
    }
    .header{
        margin-right: 0px;
    }
    
    /* card  */

    .card .card2 {
        width: 90%;
        margin: auto;
    }
    .card2 .card-pack {
        margin: 140px 0px;
    }
    .card2 .card-pack .left > span {
        margin-left: auto;
        margin-right: 52px;
    }
    .card2 .card-pack .right{
        flex: 1;
    }

    /* how it works  */

    .how-it-works {
        padding: 95px 12%;
    }

    /* clients  */

    .client .client-example {
        margin-right: 160px;
    }
    .client .client-example1 .client-example-back {
        width: 550px;
    }
    .client .client-example1 .client-example-back img {
        right: 70px;
    }
    .client .client-example2 {
        padding-top: 140px;
    }
    .client-app {
        width: 90%;
        margin: auto;
    }
    .client-app .client-app-pic {
        padding: 0px;
    }
    .client-app .client-app-pic img {
        width: 100%;
        height: 100%;
    }
    .client-app .client-app-details {
        padding: 0px;
        padding-left: 20px;
    }

    /* footer  */

    .footer {
        padding: 56px 70px 0px;
    }
    .footer .footer-row-1 {
        width: 20%;
    }
    .footer .footer-row-5 {
        padding-left: 20px;
    }
    .footer .footer-row-3 {
        padding: 0px 20px;
    }
}

/* Responise layout > 940px */

@media only screen and (max-width: 940px) {
    body{
        width: 100%;
    }
    .home-content {
        padding-top: 60px;
        width: 50%;
    }
    .home-content span:nth-child(1) {
        font-size: 45px;
    }
    .home-content span:nth-child(2) {
        font-size: 18px;
    }
    .home-content .home-icons {
        display: flex;
    }
    .home-img {
        width: 50%;
    }
    .home-img img {
        width: 100%;
    }

    /* card  */

    .card-pack .card-template {
        height: 445px;
        width: 320px;
        margin: auto;
    }
    .card-pack .card-template .card-img {
        height: 200px;
    }
    .card .card-blue, .card .card-brown {
        display: none;
    }
    .card-pack .card-template .card-img .img2{
        max-height: 165px;
        max-width: 200px;
        right: 62px;
    }
    .card-pack .card-template .card-img .img1{
        max-height: 105px;
        max-width: 165px;
        right: 90px;
    }
    .card-pack .card-template .card-img .img3 {
        max-height: 105px;
        max-width: 175px;
        right: 90px;
    }
    .card-pack .card-template .card-content > span:nth-child(1) {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .card-pack .card-template .card-content > span:nth-child(2) {
        font-size: 14px;
        margin-bottom: 42px;
    }
    .card-pack .card-template .card-content .card-bottom span {
        font-size: 12px;
    }

    /* how it works  */
    .how-it-works {
        padding: 95px 6%;
    }

    /* clients  */
    .client .client-example {
        margin-right: 12%;
    }
    .client .client-example1 .client-example-back {
        max-width: 480px;
        max-height: 350px;
    }
    .client .client-example1 .client-example-back img {
        max-width: 100%;
        max-height: 130%;
        right: 60px;
    }
    .client .client-example2 img {
        max-height: 40px;
        max-width: 36px;
    }
    .client .client-example2 {
        padding-left: 130px;
    }
    .client .client-example2 span:nth-last-child(2) {
        font-size: 14px;
    }
    .client .client-example2 span:nth-last-child(1) {
        font-size: 16px;
    }
    .client .client-example .buttons {
        max-height: 70px;
        max-width: 140px;
    }

    .client .client-brown {
        display: none;
    }
    .client .client-blue {
        display: none;
    }
    .client-app .client-app-details span:nth-child(1) {
        font-size: 22px;
        margin-top: 80px;
    }
    .client-app .client-app-details span:nth-child(2){
        font-size: 14px;
    }
    .client-app-button {
        margin-top: 50px;
    }
    .client-app-button > img {
        max-width: 130px;
        max-height: 44px;
    }

    /* footer  */
    .footer .footer-row-1 {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer .footer-row-5 {
        margin-top: 10px;
    }
}

/* Responise layout > 690px */

@media only screen and (max-width: 690px) {
    .home {
        width: 80%;
    }
    #icon {
        display: block;
    }
    .home .home-box {
        flex-direction: column-reverse;
    }
    .header {
        margin-top: 20px;
    }
    .home-img {
        width: 80%;
        margin: auto;
    }
    .home-content {
        width: 80%;
        margin: auto;
    }
    .home-content .home-icons .home-button {
        max-height: 55px;
        max-width: 145px;
    }
    .home-content .home-icons .home-button > img {
        width: 80%;
        height: 60%;
    }
    .home-content .home-icons {
        padding: 40px 0px;
    }

    /* card  */
    .card .card2 {
        width: 80%;
        margin: auto;
    }
    .card2 .card-pack {
        flex-direction: column;
        margin: 80px 0px;
    }
    .card2 .card-pack .left > span {
        margin-right: 0px;
        margin-bottom: 100px;
    }
    .card-pack .card-template-left {
        margin-bottom: 113px;
    }

    /* .how-it-works  */

    .how-it-works {
        padding: 95px 10%;
    }
    .how-it-works .working {
        flex-direction: column;
        align-items: center;
    }

    /* client  */

    .client .client-example {
        width: 80%;
        margin: auto;
        height: 100%;
        margin-bottom: 40px;
    }
    .client-example .client-slider {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .client .client-example1,
    .client .client-example2 {
        width: 100%;
    }
    .client .client-example2 {
        padding-left: 0px;
        padding-top: 30px;
    }
    .client .client-example .buttons {
        max-width: 120px;
        max-height: 60px;
    }
    .client .client-example2 span:nth-last-child(2) {
        margin-bottom: 10px;
    }

    .client-app {
        width: 80%;
        margin: auto;
        flex-direction: column;
    }
    .client-app .client-app-pic,
    .client-app .client-app-details {
        width: 100%;
    }
    .client-app .client-app-pic {
        padding-top: 30px;
    }
    .client-app .client-app-details span:nth-child(1),
    .client-app-button {
        margin-top: 25px;
    }

    /* footer  */

    .footer {
        margin: auto;
        padding-bottom: 0px;
        padding-top: 56px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .footer .footer-row-5 {
        margin-bottom: 20px;
    }
}

    /* Responise layout > 575px */
@media only screen and (max-width: 575px) {
    .footer .footer-row-3 {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5)
    }
    .footer .footer-row-5 {
        padding-left: calc(var(--bs-gutter-x) * .5)
    }
    .footer .footer-wrap {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer .footer-row-2 {
        width: 50%;
    }
    .footer .footer-row-3 {
        width: 50%;
    }
}
    
    /* Responise layout > 480px */

@media only screen and (max-width: 480px) {
    .home-content .home-icons {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }
    .home-content .home-icons .home-button {
        margin-bottom: 10px;
    }
    .card2 .card-pack {
        padding: 0px;
    }
    .card-pack .card-template {
        width: 100%;
    }
    .card-pack .card-template .card-img .img2 {
        right: 15%;
    }
    .card-pack .card-template .card-img .img1,
    .card-pack .card-template .card-img .img3 {
        right: 30%;
    }

    /* client  */
    .client .client-example1 {
        padding: 0px;
    }
    .client .client-example1 .client-example-back {
        width: 100%;
        height: 280px;
    }
    .client .client-example1 .client-example-back img {
        right: 10%;
    }
    .client-app .client-app-details {
        padding: 0px;
    }
    .client-app-button > img {
        margin-left: 0px;
    }
    .client-app-button > img:nth-child(1) {
        padding-right: 10px;
    }

    /* footer  */

    .footer .footer-row-2 a,
    .footer .footer-row-3 a, 
    .footer .footer-row-4 a{
        margin-bottom: 5px;
    }
    .footer .footer-row-3 {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5)
    }
    /* .footer .footer-row-2,
    .footer .footer-row-3, 
    .footer .footer-row-4{
        margin-left: 10px;
    } */
    .footer .footer-wrap {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer .footer-row-2 {
        width: 50%;
    }
    .footer .footer-row-3 {
        width: 50%;
    }
}